<!DOCTYPE html>
<html> <head>
<title>Rango</title> </head>
<body>
{% if user.is_authenticated %}
	<h1>Add a Page in {{category}}</h1> <div>
	<form id="page_form" method="post" action="/rango/category/{{category.slug}}/add_page/"> 
	{% csrf_token %}
		{% if category%}
			{% for hidden in form.hidden_fields %}
			        {{ hidden }}
			    {% endfor %}
			    {% for field in form.visible_fields %}
			        {{ field.errors }}
			        {{ field.help_text }}<br>
			        {{ field }}<br>
			{% endfor %}
		{% else %}
			<p>This category doesn't exist,create this category first?</p>
			<a href ='{% url 'add_category'%}'></a>
		{% endif %}
	<input type="submit" name="submit" value="Create Page" /> 
	</form>
{%else%}
<a href="{%url 'login'%}">LOG IN</a>
{% endif %}
</div> 
</body>
</html>
